$primary-color: #a5bd7e;
$secondary-color: #ded6c5;
$button-color: #f6f5b3;
$button-hover-color: #e6e5a3;
$text-color: #51500e;
$text-color-dark: #4d5237;
$error-color: #c14d00;

.item-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.item-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 10px;
}

.bold-2x {
  font-weight: bold;
}

.gap-x4 {
  gap: 40px !important;
}

.gap-x3 {
  gap: 30px !important;
}

.gap-x2 {
  gap: 20px !important;
}

.gap-x {
  gap: 5px !important;
}

.gap-xs {
  gap: 0px !important;
}

.left-align {
  align-items: flex-start !important;
}

.right-align {
  align-items: flex-end !important;
}

.center-align {
  align-items: center !important;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between !important;
}

.space-around {
  justify-content: space-around !important;
}

.width-90 {
  width: 90vw !important;
}

.width-100p {
  width: 100% !important;
}
.height-100p {
  height: 100% !important;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.no-drag {
  -webkit-user-drag: none;
}

.no-highlight {
  -webkit-tap-highlight-color: transparent;
}

.icon-xs {
  width: 1rem;
  height: auto;
}

.icon-s {
  width: 2rem;
  height: auto;
}

.icon-m {
  width: 3rem;
  height: auto;
}

.icon-l {
  width: 4rem;
  height: auto;
}

.margin-top10 {
  margin-top: 10px !important;
}

.margin-bottom10 {
  margin-bottom: 10px !important;
}

.margin-left10 {
  margin-left: 10px !important;
}

.margin-right10 {
  margin-right: 10px !important;
}

.padding-right20 {
  padding-right: 20px !important;
}

.padding-left20 {
  padding-left: 20px !important;
}

.padding-top20 {
  padding-top: 20px !important;
}

.padding-bottom20 {
  padding-bottom: 20px !important;
}

.bold-6x {
  font-weight: 600 !important;
}

// Test variables
.test-red {
  background-color: red !important;
}

.test-green {
  background-color: green !important;
}

.test-blue {
  background-color: blue !important;
}
