@use "../styles/Variables.scss";

.default-dropdown {
    width: 200px;
    padding: 10px;
    border: 1px solid Variables.$text-color-dark;
    border-radius: 5px;
    background-color: Variables.$secondary-color;
    color: Variables.$text-color-dark;

    &:hover {
        cursor: pointer;
    }
}
